<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- Root: ASP.NET Core app wiring -->
	<system.webServer>
		<!-- Map *all* requests to the AspNetCoreModuleV2 -->
		<handlers>
			<add name="aspNetCore"
				 path="*"
				 verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>

		<!-- Framework-dependent publish (uses dotnet + your DLL): -->
		<aspNetCore processPath="dotnet"
					arguments=".\VC_IMS.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />

		<security>
			<requestFiltering>
				<!-- Keep this: used by another module -->
				<requestLimits maxQueryString="8192" />
			</requestFiltering>
		</security>

		<rewrite>
			<rules>
				<!-- Put this at the TOP so it short-circuits other rules -->
				<rule name="__Stop-ARR-on-ssrs" enabled="true" stopProcessing="true">
					<match url="^ssrs($|/)" ignoreCase="true" />
					<!-- Do nothing: let ASP.NET Core pipeline handle it -->
					<action type="None" />
				</rule>

				<!-- keep any of your existing rules below -->
			</rules>
		</rewrite>
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>

	<location path="ssrs">
		<system.webServer>
			<directoryBrowse enabled="false" />
			<defaultDocument enabled="false">
				<files>
					<clear />
				</files>
			</defaultDocument>

			<httpErrors existingResponse="PassThrough" />
			<security>
				<requestFiltering allowDoubleEscaping="true">
					<fileExtensions allowUnlisted="true" />
				</requestFiltering>
			</security>

			<rewrite>
				<rules>
					<clear />
				</rules>
				<!-- wipe inherited rules just for /ssrs -->
			</rewrite>

			<handlers accessPolicy="Read, Script">
				<clear />
				<add name="aspNetCore-ssrs"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>
		</system.webServer>
	</location>


</configuration>