USE [Treasury_IMSDB]
GO
/****** Object:  Table [dbo].[VC_endpoint_policy_assignments]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_endpoint_policy_assignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchType] [nvarchar](32) NOT NULL,
	[Area] [nvarchar](64) NULL,
	[Controller] [nvarchar](128) NULL,
	[Action] [nvarchar](128) NULL,
	[Page] [nvarchar](256) NULL,
	[Path] [nvarchar](512) NULL,
	[Regex] [nvarchar](512) NULL,
	[Notes] [nvarchar](512) NULL,
	[PolicyId] [int] NOT NULL,
	[PolicyName] [nvarchar](128) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_VC_endpoint_policy_assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_identity]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_identity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[desc] [nvarchar](max) NULL,
	[logo] [nvarchar](max) NULL,
	[media_01] [nvarchar](max) NULL,
	[media_02] [nvarchar](max) NULL,
	[media_03] [nvarchar](max) NULL,
	[header] [nvarchar](max) NULL,
	[signature] [nvarchar](max) NULL,
 CONSTRAINT [PK_VC_identity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_policies]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_policies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_VC_policies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_policy_claims]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_policy_claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorizationPolicyEntityId] [int] NOT NULL,
	[Type] [nvarchar](256) NOT NULL,
	[Value] [nvarchar](256) NULL,
 CONSTRAINT [PK_VC_policy_claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_policy_roles]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_policy_roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorizationPolicyEntityId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_VC_policy_roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_public_endpoints]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_public_endpoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchType] [nvarchar](32) NOT NULL,
	[Area] [nvarchar](64) NULL,
	[Controller] [nvarchar](128) NULL,
	[Action] [nvarchar](128) NULL,
	[Page] [nvarchar](256) NULL,
	[Path] [nvarchar](512) NULL,
	[Regex] [nvarchar](512) NULL,
	[Notes] [nvarchar](512) NULL,
	[IsEnabled] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_VC_public_endpoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_role_claims]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_role_claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_VC_role_claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_roles]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_VC_roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_user_logins]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_user_logins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_VC_user_logins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_user_roles]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_user_roles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_VC_user_roles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VC_users]    Script Date: 6/17/2026 3:29:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VC_users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_VC_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VC_identity] ON 

SET IDENTITY_INSERT [dbo].[VC_identity] OFF
GO
SET IDENTITY_INSERT [dbo].[VC_policies] ON 

INSERT [dbo].[VC_policies] ([Id], [Name], [Description], [IsEnabled], [IsSystem], [UpdatedAt]) VALUES (20, N'SuperAdminOnly', N'Break-glass access', 1, 1, CAST(N'2026-02-24T00:00:00.0000000-04:00' AS DateTimeOffset))
INSERT [dbo].[VC_policies] ([Id], [Name], [Description], [IsEnabled], [IsSystem], [UpdatedAt]) VALUES (21, N'AdminOnly', N'Administrative access', 1, 1, CAST(N'2026-02-24T00:00:00.0000000-04:00' AS DateTimeOffset))
INSERT [dbo].[VC_policies] ([Id], [Name], [Description], [IsEnabled], [IsSystem], [UpdatedAt]) VALUES (22, N'Reports.Admin', N'Manage report defs & params', 1, 1, CAST(N'2026-02-24T00:00:00.0000000-04:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[VC_policies] OFF
GO
SET IDENTITY_INSERT [dbo].[VC_policy_roles] ON 

INSERT [dbo].[VC_policy_roles] ([Id], [AuthorizationPolicyEntityId], [RoleId], [RoleName]) VALUES (2, 20, 2, N'Admin')
INSERT [dbo].[VC_policy_roles] ([Id], [AuthorizationPolicyEntityId], [RoleId], [RoleName]) VALUES (3, 21, 2, N'Admin')
INSERT [dbo].[VC_policy_roles] ([Id], [AuthorizationPolicyEntityId], [RoleId], [RoleName]) VALUES (4, 22, 2, N'Admin')
SET IDENTITY_INSERT [dbo].[VC_policy_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[VC_public_endpoints] ON 

INSERT [dbo].[VC_public_endpoints] ([Id], [MatchType], [Area], [Controller], [Action], [Page], [Path], [Regex], [Notes], [IsEnabled], [Priority], [UpdatedAt]) VALUES (8, N'ControllerAction', NULL, N'Home', N'Index', NULL, NULL, NULL, N'Home page public by default', 1, 10, CAST(N'2026-02-06T14:54:49.5886012+00:00' AS DateTimeOffset))
INSERT [dbo].[VC_public_endpoints] ([Id], [MatchType], [Area], [Controller], [Action], [Page], [Path], [Regex], [Notes], [IsEnabled], [Priority], [UpdatedAt]) VALUES (9, N'ControllerAction', NULL, N'Home', N'Privacy', NULL, NULL, NULL, N'Privacy page public', 1, 10, CAST(N'2026-02-06T14:54:49.6002345+00:00' AS DateTimeOffset))
INSERT [dbo].[VC_public_endpoints] ([Id], [MatchType], [Area], [Controller], [Action], [Page], [Path], [Regex], [Notes], [IsEnabled], [Priority], [UpdatedAt]) VALUES (10, N'Regex', NULL, NULL, NULL, NULL, NULL, N'^/WowDash(/|$)', N'Public static assets (WowDash theme)', 1, 1, CAST(N'2026-02-06T14:54:49.6147696+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[VC_public_endpoints] OFF
GO
SET IDENTITY_INSERT [dbo].[VC_roles] ON 

INSERT [dbo].[VC_roles] ([Id], [name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Admin', N'ADMIN', NULL)
INSERT [dbo].[VC_roles] ([Id], [name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'Basic', N'BASIC', NULL)
SET IDENTITY_INSERT [dbo].[VC_roles] OFF
GO
INSERT [dbo].[VC_user_logins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'LDAP', N'charlesm', N'LDAP', 21)
INSERT [dbo].[VC_user_logins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'LDAP', N'josephca', N'LDAP', 18)
INSERT [dbo].[VC_user_logins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'LDAP', N'lazarusa', N'LDAP', 9)
GO
INSERT [dbo].[VC_user_roles] ([UserId], [RoleId]) VALUES (9, 2)
INSERT [dbo].[VC_user_roles] ([UserId], [RoleId]) VALUES (9, 4)
INSERT [dbo].[VC_user_roles] ([UserId], [RoleId]) VALUES (9, 5)
GO
SET IDENTITY_INSERT [dbo].[VC_users] ON 

INSERT [dbo].[VC_users] ([Id], [FirstName], [LastName], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (9, N'Austin', N'Lazarus', N'lazarusa', N'LAZARUSA', N'lazarusa@dominica.gov.dm', N'LAZARUSA@DOMINICA.GOV.DM', 1, NULL, N'5AZWBVYLFSN3KYPGFPJQN4O7EDAIFBSZ', N'5db43042-f542-4bac-8072-d0e260909d6d', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[VC_users] ([Id], [FirstName], [LastName], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (12, N'Brinder', N'Green-Charles', N'greenb', N'GREENB', N'greenb@dominica.gov.dm', N'GREENB@DOMINICA.GOV.DM', 1, NULL, N'YM5NC6RIM3KQLJUHN5GAWFB4FSJKPWDE', N'4fe9eff7-6f2e-482c-acef-36ac7ffbb690', NULL, 0, 0, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[VC_users] OFF
GO
ALTER TABLE [dbo].[VC_endpoint_policy_assignments] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[VC_endpoint_policy_assignments] ADD  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [dbo].[VC_policies] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[VC_policies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSystem]
GO
ALTER TABLE [dbo].[VC_public_endpoints] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[VC_public_endpoints] ADD  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [dbo].[VC_endpoint_policy_assignments]  WITH CHECK ADD  CONSTRAINT [FK_VC_endpoint_policy_assignments_VC_policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[VC_policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_endpoint_policy_assignments] CHECK CONSTRAINT [FK_VC_endpoint_policy_assignments_VC_policies_PolicyId]
GO
ALTER TABLE [dbo].[VC_policy_claims]  WITH CHECK ADD  CONSTRAINT [FK_VC_policy_claims_VC_policies_AuthorizationPolicyEntityId] FOREIGN KEY([AuthorizationPolicyEntityId])
REFERENCES [dbo].[VC_policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_policy_claims] CHECK CONSTRAINT [FK_VC_policy_claims_VC_policies_AuthorizationPolicyEntityId]
GO
ALTER TABLE [dbo].[VC_policy_roles]  WITH CHECK ADD  CONSTRAINT [FK_VC_policy_roles_VC_policies_AuthorizationPolicyEntityId] FOREIGN KEY([AuthorizationPolicyEntityId])
REFERENCES [dbo].[VC_policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_policy_roles] CHECK CONSTRAINT [FK_VC_policy_roles_VC_policies_AuthorizationPolicyEntityId]
GO
ALTER TABLE [dbo].[VC_policy_roles]  WITH CHECK ADD  CONSTRAINT [FK_VC_policy_roles_VC_roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[VC_roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_policy_roles] CHECK CONSTRAINT [FK_VC_policy_roles_VC_roles_RoleId]
GO
ALTER TABLE [dbo].[VC_role_claims]  WITH CHECK ADD  CONSTRAINT [FK_VC_role_claims_VC_roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[VC_roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_role_claims] CHECK CONSTRAINT [FK_VC_role_claims_VC_roles_RoleId]
GO
ALTER TABLE [dbo].[VC_user_logins]  WITH CHECK ADD  CONSTRAINT [FK_VC_user_logins_VC_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[VC_users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_user_logins] CHECK CONSTRAINT [FK_VC_user_logins_VC_users_UserId]
GO
ALTER TABLE [dbo].[VC_user_roles]  WITH CHECK ADD  CONSTRAINT [FK_VC_user_roles_VC_roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[VC_roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_user_roles] CHECK CONSTRAINT [FK_VC_user_roles_VC_roles_RoleId]
GO
ALTER TABLE [dbo].[VC_user_roles]  WITH CHECK ADD  CONSTRAINT [FK_VC_user_roles_VC_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[VC_users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VC_user_roles] CHECK CONSTRAINT [FK_VC_user_roles_VC_users_UserId]
GO
